{# @var plugin \lsst\cantodamassets\CantoDamAssets #}
{# @var settings \lsst\cantodamassets\models\Settings #}

{% import '_includes/forms.twig' as forms %}

{{ forms.autosuggestField({
    first: true,
    label: "App ID",
    name: 'appId',
    value: settings.appId,
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    first: true,
    label: "Secret Key",
    name: 'secretKey',
    value: settings.secretKey,
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: "Authentication Endpoint",
    name: 'authEndpoint',
    value: settings.authEndpoint,
    suggestEnvVars: true
}) }}
<p>If the app ID or secret key is needed in the URL include it as <strong>{appId}</strong> or <strong>{secretKey}</strong> with no spaces.</p>

{{ forms.autosuggestField({
    label: "Tenant Host Name",
    instructions: "The hostname for the Canto Tenant, e.g. `rubin.canto.com`",
    name: 'tenantHostName',
    value: settings.tenantHostName,
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: "Webhook Secure Token",
    name: 'webhookSecureToken',
    value: settings.webhookSecureToken,
    suggestEnvVars: true
}) }}
