{% import "_includes/forms" as forms %}

{% set tagOptions = {
    'depends': [
        'lsst\\cantodamassets\\web\\assets\\CantoDamAsset'
    ],
} %}
{{ craft.canto.register('src/js/app.ts', false, tagOptions, tagOptions) }}
{{ craft.canto.register('src/js/canto-field.js', false, tagOptions, tagOptions) }}

{{ forms.hidden({
    id: "cantoId" | namespaceInputId(id),
    name: "cantoId" | namespaceInputName(name),
    value: value.cantoId,
}) }}

{{ forms.hidden({
    id: "cantoAlbumId" | namespaceInputId(id),
    name: "cantoAlbumId" | namespaceInputName(name),
    value: value.cantoAlbumId,
}) }}

{{ forms.hidden({
    id: "cantoAssetData" | namespaceInputId(id),
    name: "cantoAssetData" | namespaceInputName(name),
    value: value.cantoAssetData,
}) }}

{{ forms.hidden({
    id: "cantoAlbumData" | namespaceInputId(id),
    name: "cantoAlbumData" | namespaceInputName(name),
    value: value.cantoAlbumData,
}) }}

{% include "_canto-dam-assets/_components/fieldtypes/includes/CantoDamAsset_image.twig" with { config } only %}
{% if config.enabled %}
    <div class="flex">
        <button
            type="button"
            id="{{ "chooseAsset" | namespaceInputId(id) }}"
            data-field="{{ fieldId }}"
            data-element="{{ elementId }}"
            data-access="{{ accessToken }}"
            class="btn add icon dashed" tabindex="0">
            {% if config.previewUrl %}
                Choose a Different DAM Asset
            {% else %}
                Select a DAM Asset
            {% endif %}
        </button>
    </div>
{% endif %}
